html
    head
        title reg
    body
        form(action="/regTopicProc", method="post")
            p   
                input(type="text" name="title")
            p   
                textarea(name="description")
            input(type="submit" value="등록")
            